.projectCardContainer {
  box-shadow: 0px 10px 10px 1px rgb(153, 153, 153);
  border-radius: 20px;
  margin-left: 10%;
  width: "30rem";

  transition: transform 0.3s, box-shadow 0.3s;

  /* transition-duration: 0.3s; */
}
.projectCardContainer:hover {
  box-shadow: 0px 10px 10px 1px lightgray;
  /* position: relative;
  top: -2px; */
  transform: translateY(-10px);
  transition: transform 0.3s, box-shadow 0.3s;
  /* transition-duration: 0.3s; */
}

.innerRow {
  margin-top: 20px;
  margin-bottom: 20px;
}

.wider {
  widows: inherit;
}

.title-section {
  width: 100%;
  text-align: center;
  font-size: 30px;
}
